version: "3.3"

services:
  proxy:
    build: .
    environment:
      DEBUG: "*:*"
      FAILED_LOGIN_REDIRECT: https://localhost
      HTTPS: false
      SAML2_CLAIMS_SID_BASE64: false
      SAML2_CLAIMS_UPN: upn
      SAML2_IDP: https://192.168.102.1:8443/auth/realms/master/protocol/saml
      SAML2_ROOT: /saml2
      TRUST_PROXY: true
      WSFED_ISSUER: https://192.168.102.1/wsfed
      WSFED_ROOT: /wsfed
    volumes:
      - ./certs/:/app/certs/:ro
    ports:
      - "3000:3000"
  nginx:
    image: nginx:1.24.0
    ports:
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./selfsigned.crt:/etc/nginx/selfsigned.crt
      - ./selfsigned.key:/etc/nginx/selfsigned.key
  keycloak:
    image: quay.io/keycloak/keycloak:16.1.0
    environment:
      KEYCLOAK_USER: "admin"
      KEYCLOAK_PASSWORD: "1234"
      DEBUG: "true"
      DEBUG_PORT: "*:8787"
    command:
      - "-b 0.0.0.0"
      - -Dkeycloak.migration.action=import
      - -Dkeycloak.migration.provider=singleFile
      - -Dkeycloak.migration.file=/tmp/realm.json
    ports:
    - "8443:8443"
    - "8080:8080"
    - "5005:8787"
    volumes:
      - ./realm.json:/tmp/realm.json

